body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.container {
    width: 240px;
    margin: 40px auto;
}

.square {
    width: 80px;
    height: 80px;
    float: left;
    background-color: #f8f9fa;
    box-sizing: border-box;
    border: 1px solid gray;
}

.square.top {
    border-top: none;
}

.square.bottom {
    border-bottom: none;
}

.square.left {
    border-left: none;
}

.square.right {
    border-right: none;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}