body {
    font-family: Arial, Helvetica, sans-serif;
}

.bigContainer {
    width: 50%;
    margin: 40px auto;
}

h3 {
    margin-bottom: 10px;
    font-size: 24px;
}

.container {
    background-color: #F8C8DC;
    padding: 20px;
    border-radius: 5px;
}

input[type="text"],
select,
textarea {
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    width: 100%;
}

input[type="button"] {
    padding: 10px 18px;
    border: 1px solid #F8C8DC;
    border-radius: 6px;
}

input[type="button"]:hover {
    background-color: black;
    color: white;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 300;
}

textarea {
    height: 180px;
}

footer {
    padding: 10px;
    position: fixed;
    color: #808080;
    left: 0;
    bottom: 0;
    font-size: 24px;
}